@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* Frontend mentor */
  /* Neutral */
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-0: var(--neutral-0);

  /* Orange */
  --color-orange-500: var(--orange-500);

  /* Blue */
  --color-blue-500: var(--blue-500);
  --color-blue-700: var(--blue-700);
  --font-dm-sans: var(--font-dm-sans);
  /* spacing */

  --spacing-0: var(--spacing-0);
  --spacing-025: var(--spacing-025);
  --spacing-050: var(--spacing-050);
  --spacing-075: var(--spacing-075);
  --spacing-100: var(--spacing-100);
  --spacing-125: var(--spacing-125);
  --spacing-150: var(--spacing-150);
  --spacing-200: var(--spacing-200);
  --spacing-250: var(--spacing-250);
  --spacing-300: var(--spacing-300);
  --spacing-400: var(--spacing-400);
  --spacing-500: var(--spacing-500);
  --spacing-600: var(--spacing-600);
  --spacing-800: var(--spacing-800);
  --spacing-1000: var(--spacing-1000);
  --spacing-1200: var(--spacing-1200);
  --spacing-1400: var(--spacing-1400);
  --spacing-1600: var(--spacing-1600);
  --spacing-1800: var(--spacing-1800);
  /* Radius */
  --radius-0: var(--radius-0);
  --radius-4: var(--radius-4);
  --radius-6: var(--radius-6);
  --radius-8: var(--radius-8);
  --radius-10: var(--radius-10);
  --radius-12: var(--radius-12);
  --radius-16: var(--radius-16);
  --radius-20: var(--radius-20);
  --radius-24: var(--radius-24);
  --radius-full: var(--radius-full);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* Frontend Mentor Design System colors */
  /* Neutrals */
  --neutral-900: #02012C;
  --neutral-800: #262540;
  --neutral-700: #302F4A;
  --neutral-600: #3C3B5E;
  --neutral-300: #ACACB7;
  --neutral-200: #D4D3D9;
  --neutral-0: #FFFFFF;
  /* Orange */
  --orange-500: #FF820A;
  /* Blue */
  --blue-500: #4658D9;
  --blue-700: #2B1B9C;
  /* Font */
  --font-dm-sans: 'DM Sans Variable', sans-serif;
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
  /* Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Neutrals */
  --neutral-900: #02012C;
  --neutral-800: #262540;
  --neutral-700: #302F4A;
  --neutral-600: #3C3B5E;
  --neutral-300: #ACACB7;
  --neutral-200: #D4D3D9;
  --neutral-0: #FFFFFF;
  /* Orange */
  --orange-500: #FF820A;
  /* Blue */
  --blue-500: #4658D9;
  --blue-700: #2B1B9C;
  --font-dm-sans: 'DM Sans Variable', sans-serif;
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
  /* Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .text-preset-1 {
    color: var(--color-neutral-900);
    font-size: var(--spacing-1200);
    line-height: var(--leading-26);
    letter-spacing: -2px;
    font-weight: var(--font-weight-semibold);
    font-style: italic;

  }
}